.textGray {
	color: var(--color-white-800);
}

.textWhite {
	color: var(--color-white-900);
}

.textGreen {
	color: var(--color-green);
}

.textSmall {
	font-size: var(--font-size-sm);
}

/* START: crew section */
.crewContainer {
	display: grid;
	grid-template-columns: repeat(4, 1fr);
	/* flex-wrap: wrap; */
	gap: 0.8rem;
}

.crew {
	display: flex;
	flex-direction: column;
	gap: 0.8rem;
}

.crewCard {
	display: flex;
	flex-direction: column;
	width: 100%;
	gap: 0.2rem;
}

.crewCard:hover .imageContainer .image {
	opacity: 1;
}

.imageContainer {
	width: 100%;
	height: 100%;
}

.imageContainer .image {
	width: 100%;
	height: 100%;
	object-fit: cover;
	border-radius: 6px;
	opacity: 0.85;
	transition: 0.3s;
}

.crewName {
	margin: 0.5rem 0;
	color: var(--color-white-900);
	transition: 0.2s;
}

.noCrewInfo {
	display: flex;
	align-items: center;
	justify-content: center;
	height: 150px;
	color: var(--color-white-800);
	font-style: italic;
}

@media (max-width: 768px) {
	.crewContainer {
		display: grid;
		grid-template-columns: repeat(2, 1fr);
	}
}
