/* START: Details section */
.sectionWrapper {
	border-bottom: 1px solid var(--color-black-700);
	padding: 0 0.5rem 2.5rem;
}

.detailsSectionHeader {
	display: flex;
	flex-direction: column;
	margin-bottom: 2rem;
}

.detailsSectionStatus,
.detailsSectionDescriptionTitle,
.InfoItem {
	color: var(--color-white-800);
}

.detailsSectionBody {
	display: flex;
	/* justify-content: space-between; */
	gap: 5rem;
}

.detailsSectionDescription {
	width: 50%;
	padding-right: 1rem;
}
.detailsSectionDescriptionTitle {
	margin-bottom: 0.5rem;
}

.detailsSectionDescriptionText {
	text-align: justify;
	line-height: 1.4;
}

.imgContainer {
	max-width: 300px;
	height: 200px;
}

.imgContainer .image {
	width: 100%;
	height: 100%;
	object-fit: cover;
	border-radius: 4px;
}

.detailsSetcionRight {
	display: flex;
	gap: 0.75rem;
	padding-top: 2.4rem;
	/* width: 45%; */
}

.detailsSetcionRightInfoItems {
	display: flex;
	flex-direction: column;
	gap: 0.4rem;
}

.textWhite {
	color: var(--color-white-900);
}

.textGreen {
	color: var(--color-green);
}

.textRed {
	color: var(--color-red);
}

.textOrange {
	color: var(--color-orange);
}

.progressBar {
	max-width: 200px;
	height: 6px;
	margin: 0.25rem 0;
	background-color: var(--color-black-700);
	border-radius: 50px;
}

.progressBarPercent {
	height: 100%;
	background: linear-gradient(90deg, #4ade80, #4ade80);
	border-radius: 50px;
}
/* END: Details section */

@media (max-width: 1100px) {
	.detailsSetcionRight {
		padding-right: 0rem;
	}

	.detailsSectionBody {
		gap: 2rem;
	}
}

@media (max-width: 870px) {
	.detailsSectionBody {
		flex-direction: column;
	}

	.detailsSectionDescription {
		width: 100%;
		padding-right: 0;
		margin-bottom: 1rem;
	}

	.detailsSectionBody {
		gap: 0rem;
	}
}

@media (max-width: 576px) {
	.detailsSetcionRight {
		flex-direction: column;
	}

	.imgContainer {
		max-width: 100%;
	}
}
