/* START: Mission title */
.missionTitleContainer {
	display: flex;
	align-items: end;
	position: sticky;
	top: 0;
	padding-top: 70px;
	padding-bottom: 1rem;
	gap: 0.5rem;
	/* background-color: var(--color-black-900);
	border-bottom: 1px solid var(--color-black-700); */

	background-color: var(--color-black-900);
	border-bottom: 1px solid var(--color-black-700);

	box-shadow: 0 6px 8px 0px rgba(13, 17, 23, 0.5);

	z-index: 1100;
}

.imgContainer {
	display: flex;
	justify-content: center;
	height: 50px;
	width: 50px;
	border-radius: 4px;
}

.imgContainer .image {
	width: 100%;
	object-fit: cover;
}

.imgContainer .imagePlaceholder svg {
	width: 80%;
	height: 80%;
}
.imgContainer .imagePlaceholder {
	display: flex;
	justify-content: center;
	align-items: center;
}

.titleWrapper h1 {
	font-size: 2.8rem;
	font-family: 'Exo 2';
}

.missionTitleInfoSmall {
	color: var(--color-white-800);
	font-size: 1.2rem;
}

.missionTitleInfoSmall span:not(:last-child) {
	margin-right: 1rem;
}

.statusSuccess {
	color: var(--color-green);
}
.statusFailure {
	color: var(--color-red);
}
.statusPending {
	color: var(--color-orange);
}
/* END: Mission title */
/* START: Mission details */
.detailsSectionDescription {
	width: 50%;
	padding: 0 5px;
	margin-bottom: 0.8rem;
}
.detailsSectionDescriptionTitle {
	margin-bottom: 5px;
	color: var(--color-white-800);
}
.detailsSectionDescriptionText {
	text-align: justify;
	line-height: 1.4;
}
/* END: Mission details */

/* Mobile */
@media (max-width: 992px) {
	.detailsSectionDescription {
		width: 100%;
	}
}

@media (max-width: 576px) {
	.missionTitleContainer {
		padding-top: 60px;
	}
	.titleWrapper h1 {
		font-size: 2.2rem;
	}

	.imgContainer {
		height: 40px;
		width: 40px;
	}
}
